body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'TT Lakes Thin';
    src: url('fonts/TTLakes-Thin.eot');
    src: url('fonts/TTLakes-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Thin.woff') format('woff'),
    url('fonts/TTLakes-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Light';
    src: url('fonts/TTLakes-Light.eot');
    src: url('fonts/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Light.woff') format('woff'),
    url('fonts/TTLakes-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Demi';
    src: url('fonts/TTLakes-DemiBold.eot');
    src: url('fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-DemiBold.woff') format('woff'),
    url('fonts/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('fonts/TTLakes-Bold.eot');
    src: url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Bold.woff') format('woff'),
    url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@media only screen and (max-width: 768px) {
    header .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #D9FFF5;
    }
}

@media only screen and (max-width: 768px) {
    header .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #D9FFF5;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1120px) {
    header .header {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .button_burger {
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 20px;
        border: 1px solid #FF3E79;
        cursor: pointer;
        margin: 24px 16px;
        position: relative;
    }
}

@media only screen and (max-width: 768px) {
    .button_burger {
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 20px;
        border: 1px solid #FF3E79;
        cursor: pointer;
        margin: 24px 16px;
        position: relative;
    }
}

@media only screen and (max-width: 320px) {
    .button_burger span {
        width: 18px;
        height: 2px;
        position: absolute;
        top: 26%;
        left: 26%;
        background-color: #FFFFFF;
        border-radius: 1px;
    }
}

@media only screen and (max-width: 768px) {
    .button_burger span {
        width: 18px;
        height: 2px;
        position: absolute;
        top: 26%;
        left: 26%;
        background-color: #FFFFFF;
        border-radius: 1px;
    }
}

@media only screen and (max-width: 320px) {
    .button_burger span:nth-of-type(2) {
        top: calc(50% - 1px);
        width: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .button_burger span:nth-of-type(2) {
        top: calc(50% - 1px);
        width: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .button_burger span:nth-of-type(3) {
        top: calc(50% - -7px);
        width: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .button_burger span:nth-of-type(3) {
        top: calc(50% - -7px);
        width: 14px;
    }
}

@media  only screen and (max-width: 320px) {
    .header_divider-logo span {
        display: none;
    }
}

@media  only screen and (max-width: 768px) {
    .header_divider-logo span::before {
        content: "";
        height: 32px;
        width: 2px;
        border-radius: 1px;
        background-color: #EAEAEA;
        display: block;
        margin: 0 20px 0 20px;
    }
}

@media only screen and (max-width: 320px) {
    .button_phone {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .button_phone {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #FF3E79;
        background: #FF3E79 url("img/phone.png") no-repeat center;
        cursor: pointer;
        margin-left: 250px;
    }
}

@media only screen and (max-width: 320px) {
    .button_chat {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .button_chat {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #FF3E79;
        background: #FF3E79 url("img/chat.png") no-repeat center;
        cursor: pointer;
        margin: 0 16px;
    }
}

@media only screen and (max-width: 320px) {
    .button_profile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .button_profile {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #FF3E79;
        background: #FF3E79 url("img/profile.png") no-repeat center;
        cursor: pointer;
    }
}

@media  only screen and (max-width: 320px) {
    .header_divider-button span::before {
        content: "";
        height: 32px;
        width: 2px;
        border-radius: 1px;
        background-color: #EAEAEA;
        margin: 0 20px 0 16px;
        display: block;
    }
}

@media  only screen and (max-width: 768px) {
    .header_divider-button span::before {
        content: "";
        height: 32px;
        width: 2px;
        border-radius: 1px;
        background-color: #EAEAEA;
        display: block;
        margin: 0 20px 0 16px;
    }
}

@media only screen and (max-width: 320px) {
    .button_repair {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #FF3E79;
        background: #FF3E79 url("img/repair.png") no-repeat center;
        cursor: pointer;
        margin-right: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .button_repair {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #FF3E79;
        background: #FF3E79 url("img/repair.png") no-repeat center;
        cursor: pointer;
        margin-right: 16px;
    }
}

@media only screen and (max-width: 320px) {
    .button_check-status {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #FF3E79;
        background: #FF3E79 url("img/check-status.png") no-repeat center;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    .button_check-status {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #FF3E79;
        background: #FF3E79 url("img/check-status.png") no-repeat center;
        cursor: pointer;
    }
}

@media only screen and (max-width: 320px) {
    main {
        position: absolute;
        background-color: #F8F8F8;
        width: 100%;
        font-family: "TT Lakes Light", serif;
        padding-left: 12px;
    }
}

@media only screen and (max-width: 768px) {
    main {
        position: absolute;
        background-color: #F8F8F8;
        font-family: "TT Lakes Light", serif;
        padding-left: 12px;
    }
}

@media only screen and (max-width: 1120px) {
    main {
        position: absolute;
        background-color: #F8F8F8;
        font-family: "TT Lakes Light", serif;
        padding-left: 12px;
    }
}

@media only screen and (max-width: 320px) {
    main section h1 {
        font-size: 28px;
        color: #1B1C21;
        font-family: "TT Lakes Bold", sans-serif;
    }
}

@media only screen and (max-width: 768px) {
    main section h1 {
        font-size: 28px;
        color: #1B1C21;
        font-family: "TT Lakes Bold", sans-serif;
    }
}

@media only screen and (max-width: 1120px) {
    main section h1 {
        font-size: 28px;
        color: #1B1C21;
        font-family: "TT Lakes Bold", sans-serif;
    }
}

@media only screen and (max-width: 320px) {
    main section h1::before {
        content: "";
        border-left: 4px solid #41F6D7;
        height: 40px;
        width: 4px;
        left: -1px;
        top: 22px;
        position: absolute;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
@media only screen and (max-width: 768px) {
    main section h1::before {
        content: "";
        border-left: 4px solid #41F6D7;
        height: 40px;
        width: 4px;
        left: -1px;
        top: 22px;
        position: absolute;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media only screen and (max-width: 1120px) {
    main section h1::before {
        content: "";
        border-left: 4px solid #41F6D7;
        height: 40px;
        width: 4px;
        left: -1px;
        top: 22px;
        position: absolute;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media only screen and (max-width: 1120px) {
    main section .main_title {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 320px) {
    main section .main_title .main_title_menu {
        visibility: hidden;
    }
}

@media only screen and (max-width: 768px) {
    main section .main_title .main_title_menu {
        visibility: hidden;
    }
}

@media only screen and (max-width: 1120px) {
    main section .main_title .main_title_menu {
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1120px) {
    main section .main_title .main_title_menu .main_title_name_one {
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1120px) {
    main section .main_title .main_title_menu .main_title_name_one span {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #FF3E79;
        background: #FF3E79 url("img/repair.png") no-repeat center;
        cursor: pointer;
        display: block;
        margin: 0 32px 0 8px;
    }
}

@media only screen and (max-width: 1120px) {
    main section .main_title .main_title_menu .main_title_name_two {
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1120px) {
    main section .main_title .main_title_menu .main_title_name_two span {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #FF3E79;
        background: #FF3E79 url("img/check-status.png") no-repeat center;
        cursor: pointer;
        display: block;
        margin-left: 8px;
    }
}

@media only screen and (max-width: 320px) {
    section .slide_menu {
        display: flex;
    }
}

@media only screen and (max-width: 768px) {
    section .slide_menu {
        display: flex;
    }
}

@media only screen and (max-width: 320px) {
    .button-one {
        color: #7E7E82;
        font-size: 16px;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        display: inline-block;
        padding: 8px 10px 8px 16px;
        background-color: #FFFFFF;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    .button-one {
        color: #7E7E82;
        font-size: 16px;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        display: inline-block;
        padding: 8px 10px 8px 16px;
        background-color: #FFFFFF;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1120px) {
    .button-one {
        color: #7E7E82;
        font-size: 16px;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        display: inline-block;
        padding: 8px 10px 8px 16px;
        background-color: #FFFFFF;
        cursor: pointer;
    }
}

@media only screen and (max-width: 320px) {
    .button-two {
        border: 0 solid #F8F8F8;
        background-color: #F8F8F8;
        color: #7E7E82;
        position: absolute;
        font-size: 16px;
        margin-left: 255px;
        cursor: pointer;
        padding: 8px 10px 8px 16px;
    }
}

@media only screen and (max-width: 768px) {
    .button-two {
        border: 0 solid #F8F8F8;
        background-color: #F8F8F8;
        color: #7E7E82;
        font-size: 16px;
        cursor: pointer;
        padding: 8px 10px 8px 16px;
    }
}

@media only screen and (max-width: 1120px) {
    .button-two {
        border: 0 solid #F8F8F8;
        background-color: #F8F8F8;
        color: #7E7E82;
        font-size: 16px;
        cursor: pointer;
        padding: 8px 10px 8px 16px;
    }
}

@media only screen and (max-width: 320px) {
    .button-free {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .button-free {
        border: 0 solid #F8F8F8;
        background-color: #F8F8F8;
        color: #7E7E82;
        font-size: 16px;
        cursor: pointer;
        padding: 8px 10px 8px 16px;
    }
}

@media only screen and (max-width: 1120px) {
    .button-free {
        border: 0 solid #F8F8F8;
        background-color: #F8F8F8;
        color: #7E7E82;
        font-size: 16px;
        cursor: pointer;
        padding: 8px 10px 8px 16px;
    }
}

@media only screen and (max-width: 320px) {
    .button-four {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .button-four {
        border: 0 solid #F8F8F8;
        background-color: #F8F8F8;
        color: #7E7E82;
        font-size: 16px;
        cursor: pointer;
        padding: 8px 10px 8px 16px;
    }
}

@media only screen and (max-width: 1120px) {
    .button-four {
        border: 0 solid #F8F8F8;
        background-color: #F8F8F8;
        color: #7E7E82;
        font-size: 16px;
        cursor: pointer;
        padding: 8px 10px 8px 16px;
    }
}

@media only screen and (max-width: 320px) {
    .button-five {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .button-five {
        display: none;
    }
}

@media only screen and (max-width: 1120px) {
    .button-five {
        border: 0 solid #F8F8F8;
        background-color: #F8F8F8;
        color: #7E7E82;
        font-size: 16px;
        cursor: pointer;
        padding: 8px 10px 8px 16px;
    }
}

@media only screen and (max-width: 320px) {
    .button-fo {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .button-fo {
        display: none;
    }
}

@media only screen and (max-width: 1120px) {
    .button-fo {
        border: 0 solid #F8F8F8;
        background-color: #F8F8F8;
        color: #7E7E82;
        font-size: 16px;
        cursor: pointer;
        padding: 8px 10px 8px 16px;
    }
}

@media only screen and (max-width: 320px) {
    .main_block_one {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .main_block_one {
        display: flex;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1120px) {
    .main_block_one {
        display: flex;
    }
}

@media only screen and (max-width: 320px) {
    section .slide_menu-description {
        color: #1B1C21;
        font-size: 14px;
        margin-top: 24px;
        font-family: "TT Lakes Light", sans-serif;
    }
}

@media only screen and (max-width: 768px) {
    section .slide_menu-description {
        color: #1B1C21;
        font-size: 14px;
        margin-top: 24px;
        font-family: "TT Lakes Light", sans-serif;
    }
}

@media only screen and (max-width: 1120px) {
    section .slide_menu-description {
        color: #1B1C21;
        font-size: 14px;
        margin-top: 24px;
        font-family: "TT Lakes Light", sans-serif;
    }
}

@media only screen and (max-width: 320px) {
    .main_block_one .slide_menu-other {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .main_block_one .slide_menu-other {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1120px) {
    .main_block_one .slide_menu-other {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 320px) {
    section .slide_menu-read-more {
        margin: 16px 0;
    }
}

@media only screen and (max-width: 768px) {
    section .slide_menu-read-more {
        margin: 16px 0;

    }
}

@media only screen and (max-width: 1120px) {
    section .slide_menu-read-more {
        margin: 16px 0;

    }
}

@media only screen and (max-width: 320px) {
    section .read-more button {
        background: #F8F8F8 url("img/icon.png") no-repeat center;
        width: 24px;
        height: 15px;
        border: 0 solid #FFFFFF;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    section .read-more button {
        background: #F8F8F8 url("img/icon.png") no-repeat center;
        width: 24px;
        height: 15px;
        border: 0 solid #FFFFFF;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1120px) {
    section .read-more button {
        background: #F8F8F8 url("img/icon.png") no-repeat center;
        width: 24px;
        height: 15px;
        border: 0 solid #FFFFFF;
        cursor: pointer;
    }
}

@media only screen and (max-width: 320px) {
    section .read-more {
        font-family: "TT Lakes Demi", sans-serif;
    }
}

@media only screen and (max-width: 768px) {
    section .read-more {
        font-family: "TT Lakes Demi", sans-serif;
    }
}

@media only screen and (max-width: 1120px) {
    section .read-more {
        font-family: "TT Lakes Demi", sans-serif;
    }
}


@media  only screen and (min-width: 320px) and (max-width: 768px) {
    .picture_read-more img {
        margin-top: 20px;
    }
}

@media  only screen and (min-width: 769px) and (max-width: 1120px) {
    .picture_read-more img {
        border-radius: 6px;
        margin-top: 20px;
        width: 532px;
        height: 307px;
        margin-left: 48px;
    }
}